.main--chat
  .main--chat__group--info
    .main--chat__group--info__group--name
      .main--chat__group--info__group--name__text
        %p test
      .main--chat__group--info__group--name__menber--name
        %p Menber : mayk
    .main--chat__group--info__edit--btn
      %p Edit
  .main--chat__message-list
  .main--chat__message--form
